$border : 2px solid black;
$border-red : 2px solid red;


.content{

    width: 100%;
    border: 5px solid purple;
    
}
.Gender-category{
    width: 100%;
   display: flex;
    border: $border;
    justify-content: center; 
    align-items: center;
    height: 40vh;
    gap: 1vw;
}

.col-mens{
    width: 20vw;
    border: 2px solid red;
    height: 50%;
}
.col-womens{
    width: 20vw;
    border: 2px solid red;
    height: 50%;
}


.sector_1{


    border:2px solid red;
    width: 100%;
    height: 60vh;

}

