.trending-section {
    text-align: center;
    padding-top: 1vh;

    .trending-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2vh;
        color: black;
    }

    .trending-products {
        gap: 1vw;
        display: flex;
        height: 70vh;
        padding: 1vw;
        padding-top: 3vh;

        .trending-item {
            width: 20%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            transition: transform 0.3s;
            border-radius: 8px;
            background-color: #f9f9f9; // Optional background
            padding: 1vh;
            position: relative;
            cursor: pointer;

            &:hover {
                transform: scale(1.02); // Hover scaling effect only
            }

            .trending-image {
                width: 100%;
                height: 50vh;
                padding-bottom: 1vh;
                border-radius: 6px;
                object-fit: cover;
            }

            .trending-product-title {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 1vh;
                color: black;
                text-align: center;
            }

            .trending-product-price {
                font-size: 0.9rem;
                font-weight: 400;
                margin-top: 0.5vh;
                color: black;
                text-align: center;
            }
        }
    }
}