.trending-section {
    text-align: center;
    padding-top: 1vh;

    .trending-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2vh;
        color: black;
    }

    .trending-products {
        gap: 1vw;
        display: flex;
        flex-wrap: nowrap;
        padding: 1vw;
        padding-top: 3vh;

        .trending-item {
            width: 20%;          
            display: flex;
            flex-direction: column;
            transition: transform 0.3s;
            border-radius: 8px;
            background-color: #f9f9f9; 
            padding: 1vh;
            position: relative;
            cursor: pointer;

            &:hover {
                transform: scale(1.02); 
            }

            .trending-image {
                width: 100%;
                padding-bottom: 1vh;
                border-radius: 6px;
                object-fit: cover;
            }

            .trending-product-title {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 1vh;
                color: black;
                text-align: center;
            }

            .trending-product-price {
                font-size: 0.9rem;
                font-weight: 400;
                margin-top: 0.5vh;
                color: black;
                text-align: center;
            }
        }
    }
}
@media (max-width: 900px) {
    .trending-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw; 

        .trending-item {
            width: 48%; 
            margin-bottom: 2vh;
        }
    }
}

@media (max-width: 600px) {
    .trending-products {
        .trending-item {
            width: 100%; 
        }
    }
}