.bestCollection-womens{
    width: 100%;
   
    >.womens-bestCollection-row {
       width: 100%;
        display: flex;
        gap: 3px;
        padding: 2vh;
        padding-top: 5vh;

        >.col {
            width: 23%;
            transition: 1s;

            >img {
                width: 100%;
              
            }

            :hover{
                scale: 1.01;
            }
        }


    }
}