
.container-fluid {
    padding: 0;
   
}

.admin-home {
    display: flex;
    background-color: #f4f7fc;

    // Admin Sidebar Styling
    .admin-sidebar {
        background-color: #fff;
        color: black;
        padding: 20px;
        position: relative;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);

        .admin-header {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
            padding-bottom: 2vh;
            border-radius: 3vw;
            border-bottom: 1px solid #262424;

            h4 {
                font-size: 26px;
                font-weight: 600;
                color: black;
                margin: 0;
            }
        }

        .admin-menu {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h5 {
                color: #333;
                font-size: 20px;
                margin-bottom: 15px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }

            h6 {
                color: #555;
                font-size: 16px;
                padding: 12px 20px;
                margin: 8px 0;
                border-radius: 6px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: all 0.3s ease-in-out;
                background-color: #f5f5f5;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                &:hover {
                    background-color: #e0f7fa;
                    color: #36a2eb;
                    transform: translateX(5px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }

                &.edit-landing-page {
                    color: #555;

                    &:hover {
                        color: #ff6384;
                    }
                }
            }

            .edit-landing-page {
                text-decoration: none;
                color: #555;
            }

            .dropdown-toggle {
                color: #333;
                font-size: 16px;
                cursor: pointer;
                transition: color 0.3s ease;

                &:hover {
                    color: #36a2eb;
                }
            }

            .dropdown-menu {
                background-color: #2f3b52;
                border: none;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                border-radius: 8px;

                .dropdown-item {
                    color: #b8c1cc;
                    font-size: 14px;
                    padding: 10px 20px;
                    border-radius: 6px;

                    &:hover {
                        background-color: #36a2eb;
                        color: white;
                    }
                }
            }
        }
    }

    .admin-content {
        flex: 1;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        overflow-y: auto;

        .order-summary {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .order-card {
                background-color: #ffffff;
                border-radius: 8px;
                padding: 20px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                text-align: center;
                margin-bottom: 20px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
                }

                h4 {
                    font-size: 18px;
                    color: #333;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 24px;
                    font-weight: 700;
                    color: #36a2eb;
                }
            }
        }

        .charts-section {
            display: flex;
            justify-content: space-between;
        }

        .chart-container {
            text-align: center;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 30px;

            h3 {
                font-size: 22px;
                color: #333;
                margin-bottom: 30px;
            }

           
        }
    }
}