:root{
    --border-2px-solid-black : 2px solid black;
}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
    color: black;
    





   >.img{
      
   }
  
>.search-div {
        display: flex;



        >.search-input {
            width: 30vw;
            height: 5vh;
            border-radius: 3vw;
            padding: 1vw;
            background-color: rgba(234, 224, 184, 0.601);
            border-style: none;
            color: black;


            ::placeholder {
                color: rgb(42, 43, 44);
            }

            /* .search-icon {

    border-radius: 0vw 3vw 3vw 0vw;

} */
        }

    }






>.header-nav {

   
    list-style: none;
    display: flex;
    bottom: 92vh;
    left: 75%;
    gap: 3vw;
    color: black;
    font-size: 1vw;

    align-items: center;
  

 
>li{



>.link{
    color: black;
    text-decoration: none;
}


>.link:hover {
  
    border-bottom: 2px solid black;
    border-radius: 3px solid black;
}
}

}


}