.bestCollection{
    width: 100%;
   
>.row{
  
    height: 60vh;
    padding: 2vh;
    padding-top: 5vh;
    

>.col{

    
    height: 100%;
    transition: 1s;

    >img{
        width: 100%;
    }

    :hover{
        scale: 1.01;
    }


}




}
}


