:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --border-radius: 10px;
    --button-bg: #4CAF50;
    --button-hover-bg: #45a049;
    --button-text: #fff;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

.container-fluid {
    padding: 2vw;

    >.category-title {
        text-align: center;
        font-size: 2.5rem;
        color: var(--primary-color);
        font-weight: 700;
        margin-bottom: 2vw;
        border-bottom: 3px solid var(--primary-color);
        display: inline-block;
        padding: 0.5rem 1.5rem;
        background-color: var(--secondary-color);
        border-radius: var(--border-radius);
    }
}

.mens-product-list {
    width: 100%;
    gap: 2.5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mens-product-item {
    width: 22%;
    min-height: 350px; // Ensuring a constant height
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    padding: 1vw;
    text-align: center;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    >.mens-product-details {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;

        >img {
            width: 100%;
            height:100%; 
            object-fit: cover;
            border-radius: var(--border-radius);
            margin-bottom: 1rem;
            box-shadow: var(--card-shadow);
            transition: transform var(--transition-duration);

            &:hover {
                transform: scale(1.02);
            }
        }

        >span {
            display: block;
            font-size: 1rem;
            color: var(--text-color);
            font-weight: 500;
            margin: 0.5rem 0;
        }
    }
}

@media (max-width: 980px) {

    .mens-product-list {
        gap:3.5vw;

    }
    .mens-product-item {
        width: 30%;
        min-height: 350px;
    }
}

@media (max-width: 600px) {

    .mens-product-list {
            gap: 5vw;
    
        }
    .mens-product-item {
        width: 48%;
        min-height: 350px;
    }
}

@media (max-width: 460px) {

    .mens-product-list {
            gap: 6vw;
    
        }
    .mens-product-item {
        width: 70%;
        min-height: 350px;
    }
}