
*{
    padding: 0%;
    margin: 0%;
  
}
.mens-category-row{
    

    display: flex;
    padding: 2vh;
    gap: 1vw;
    align-items: center;
   
   
  
.col{ 
    width: 19%;
  
    transition: 0.2s;

    &:hover{
        scale: 1.02;
    }

    >img{
        width: 100%;
        height: 95%;
    
        border-radius: 0vw;
    }

}


}