
.container-fuild{
     padding: 2vw; 
}

.items{
    display: flex;
     gap: 1vw; 
    width: 50%;
    text-align: center;
   
    >img{
        height: 60vh;
    }

  .text{

    >h4 {
            background-color: rgb(98, 97, 97);
            color: white;
        }
    }


  }

   












